<div class="profile-container">
    <div class="profile-card">
      <img src="https://media0.giphy.com/media/quEsMOrr3hmQ8/200.webp?cid=ecf05e472fgxnft0x803qas97vj2r6vne2fplp0wr7ot9cnj&ep=v1_gifs_search&rid=200.webp&ct=g" alt="Profile Picture 1" class="profile-img">
      <h2 class="profile-name">John Doe</h2>
      <p class="profile-role">Frontend Developer</p>
      <p class="profile-info"><strong>Email:</strong> johndoe&#64;example.com</p>
      <p class="profile-info"><strong>Location:</strong> Cagayan de Oro</p>
    </div>
  
    <div class="profile-card">
      <img src="https://media0.giphy.com/media/xlWRq7WYENvbWGZnB0/200.webp?cid=790b7611tqjlxr3f6zpe4jz3brsq0sscrumrakpbxqwiplip&ep=v1_gifs_search&rid=200.webp&ct=g" alt="Profile Picture 2" class="profile-img">
      <h2 class="profile-name">Jane Smith</h2>
      <p class="profile-role">Backend Developer</p>
      <p class="profile-info"><strong>Email:</strong> janesmith&#64;example.com</p>
      <p class="profile-info"><strong>Location:</strong> Cagayan de Oro</p>
    </div>
  </div>
  